.mainpg{
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

}

h1{
  text-align: center;
}

p {
  width: 400px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}